<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_store"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_store"
        android:supportsRtl="true"
        android:theme="@style/Theme.Qly_nhap_kho">
        <activity
            android:name="com.nhom2.qly_nhap_kho.ChartActivity"
            android:exported="false" />
        <activity
            android:name=".NewPasswordActivity"
            android:windowSoftInputMode="adjustNothing"
            android:exported="false" />
        <activity
            android:name=".OTPActivity"
            android:windowSoftInputMode="adjustNothing"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:windowSoftInputMode="adjustNothing"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="adjustNothing"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".KhoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/Theme.Qly_nhap_kho" />
        <activity
            android:name=".ChiTietBaoCao4Activity"
            android:exported="false" />
        <activity
            android:name=".ChiTietBaoCao3Activity"
            android:exported="false" />
        <activity
            android:name=".ChiTietBaoCao2Activity"
            android:exported="false" />
        <activity
            android:name=".ChiTietBaoCao1Activity"
            android:exported="false" />
        <activity
            android:name=".ListBaoCaoActivity"
            android:exported="false" />
        <activity
            android:name=".VatTuActivity"
            android:windowSoftInputMode="adjustNothing"
            android:exported="false" />
        <activity
            android:name=".PhieuNhapActivity"
            android:windowSoftInputMode="adjustNothing"
            android:exported="false" />
        <activity
            android:name=".ChiTietPhieuNhapActivity"
            android:windowSoftInputMode="adjustNothing"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Qly_nhap_kho.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>